* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    animation: fade-in 1s;
    font-family: 'Patrick Hand', cursive;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:  #002133;
    animation: pulsebg 15s infinite;
}
main {
    width: 100vw;
    height: 90vh;
    margin: 4vh auto 3vh auto;
}
.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#metronome-count {
    background: #66a5ad;
    width: 60vw;
    height: 70vw;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 7vh;
    display: flex;
    font-size: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    transition: 1s;
    cursor: pointer;
}
#metronome-count:hover {
    background-color: #c4dfe6;
    transform: translate(-20px, -20px);
    box-shadow: 20px 20px 15px;
    transition: 0.7s;  
}
#metronome-count:active {
    animation: pusle 0.5s;
}
.adjustments {
    width: 80%;
    height: 30%;
    margin: 2% auto 2% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
}
.adjustments > div {
    width: 20vh;
    height: 20vh;
    background-color: #66a5ad;
    border-radius: 20%;
    transition: 1s;
    font-size: 4vh;
    margin: auto 2vw auto 2vw;
    font-weight: bolder;
    cursor: pointer;
}
.beat-type, .division, .signature, .pauseButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
   
}
.adjustments > div:hover {
    background-color: #c4dfe6;
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 15px;
    transition: 0.5s; 
} 
.adjustments > div:active {
    animation: pulse 0.5s;
} 
input[type=number] {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #66a5ad;
    font-size: 3.5vh;
    border-radius: 19%;
    border: none;
    outline: none;
    color: transparent;
    text-shadow: 0px 0px 1px black;
    cursor: pointer;
    transition: 1s;
    text-align: center;
}
.flash {
    animation: flash 1s;
}
input:hover {
    background-color: #c4dfe6;
    transition: 0.5s;
}
input:focus {
    animation: pulse 1s infinite;
    cursor: auto;
    transition: 1s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
    box-shadow: 10px 10px 15px;
}
::-webkit-input-placeholder {
    color: black;
}
::-webkit-input-placeholder:hover{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 15px;
}
.clear {
    display: none;
    width: 0;
    height: 0;
    padding: 0%;
    margin: 0%;
}
@media only screen and (max-width: 850px) {
    .metronome-count {
        width: 50vw;
        height: 50vw;
    }
    .adjustments > div {
        width: 20vh;
        height: 20vh;
        background-color: #66a5ad;
        border-radius: 20%;
        transition: 1s;
        font-size: 3vh;
        margin: auto 2vw auto 2vw;
        font-weight: bolder;
        cursor: pointer;
    }
    input[type=number] {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #66a5ad;
        font-size: 2vh;
        border-radius: 19%;
        border: none;
        outline: none;
        color: transparent;
        text-shadow: 0px 0px 1px black;
        cursor: pointer;
        transition: 1s;
        text-align: center;
    }
}
.footer-div {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    cursor: default;
    opacity: 0.5;
    transition: 1s;
}
.footer-div:hover {
    opacity: 1;
}
.footer-div p{
    flex: 1;
    text-align: center;
}
.footer-div li{
    list-style: none;
}
.nav-bar {
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.footer-div a {
    text-decoration: none;
    color: black;
}
@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes pulse {
    0% {
        background-color: #c4dfe6;
    }
    50% {
        background-color: #66a5ad;
    }
    100% {
        background-color: #c4dfe6;
    }
}
@keyframes pulsebg {
    0% {
        background: #003b46;
    }
    50% {
        background-color: #2a586f;
    }
    100% {
        background-color: #003b46;
    }
}
@keyframes pulse-opacity {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes flash {
    0% {
        background: #c4dfe6;
    }
    100% {
        background: #66a5ad;
    }
}